%html
  %head
    %title BuyersOwn
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %h1 Contact Us
    %p email: info@buyersown.com
    %p tel: 604-555-5555
    %p fax: 604-555-5556
    %p address: 2424 BuyersOwn St., Vancouver, BC, V6H3V9

